[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pillow = "*"

[packages]
django = "*"
django-seed = "*"
pillow = "*"
django-dotenv = "*"
requests = "*"
djangorestframework = "*"
firebase-admin = "*"
pipenv-to-requirements = "*"
psycopg2 = "*"
awsebcli = "*"

[requires]
python_version = "3.7"
