#genre-panel {
    width: 500px;
    height: 500px;
    left: 40%;
    top: 20%;
}

#fst-genre {
    display: flex;
    width: 80%;
    height: 330px;
    background-color: rgba(22, 22, 22, 0.8);
    border-radius: 8px;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.fst-partition-horizontal {
    width: 90%;
    height: 1px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.genre-row {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.genre-element {
    width: 120px;
    height: 22px;
    background-color: gray;
    border-radius: 20px;
    color: white;
    margin-right: 28px;
    padding-top: 9px;
    padding-left: 10px;
    cursor:pointer;
}

.selected-genre {
    background-color: #075FE5;
}