:root {
    --color-white: #F3F3F3;
    --color-text-black: #474747;
    --color-btn-yellow: #FCEE11;
    --weight-text-menu: 700; 
    --weight-text-btn: 600;
    --small-font-size: 14px;
    --medium-font-size: 18px;
    --super-font-size: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: var(--weight-text-menu);
    font-size: var(--medium-font-size);
}

*:focus {
    outline: none;
}

/* section login */
.section__login {
    height: 100%;
    background-size: cover;
    background-position: center center;
}

    /* haeder */
.login__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 4px solid orange;
}

.header__logo {
    width: 10%;
}

.logo__img {
    width: 100%;
}

.nav__menu {
    display: flex;
    list-style: none;
}

.nav__menu li {
    margin-left: 30px;
}

    /* article */
.login__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%
}

.article__title {
    color: var(--color-white);
    font-size: var(--super-font-size);
    font-weight: 400;
}

.article__subtitle {
    color: var(--color-white);
}

.article__subtitle span {
    color: orange;
}

.article__btn {
    margin-top: 50px;
    background-color: rgba(68, 224, 63, 0.7);
    color: var(--color-white);
    width: 180px;
    height: 45px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}

.article__btn:focus {
    outline: none;
}

.article__btn:hover {
    background-color: #54CF08;
}

    /* form */
.login__form {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 39%;
    backdrop-filter: blur(8px);
    background-color: rgba(22, 22, 22, 0.3);
    border-radius: 15px;
    width: 460px;
    height: 560px;
}

.login__form.active {
    display: flex;
}

.form__img {
    width: 35%;
    height: 20%;
    margin: 30px 0;
}

.form__btn {
    width: 80%;
    height: 8%;
    display: flex;
    border-style: none;
    border-radius: 10px;
    margin: 6px 0;
    cursor: pointer;
}

.form__kakao {
    background-color: var(--color-btn-yellow);
}

.form__btn img {
    width: 30px;
    height: 30px;   
    margin: 9px 16px;
}

.form__btn span {
    width: 302px;
    height: 100%;
    text-align: center;
    padding: 12px 0;
    font-size: var(--small-font-size);
    color: var(--color-text-black);
    font-weight: var(--weight-text-btn);
}

.form__boundary {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 30 0;
}

.form__boundary div {
    width: 45%;
    height: 1px;
    border-radius: 1px;
    background-color: var(--color-white);
}

.form__boundary span {
    color: var(--color-white);
    margin: 0 10px;
}

.form__email {
    padding-left: 15px;
    cursor: text;
}

.form__submit {
    background-color: orange;
}

.form__submit span {
    color: var(--color-white);
    width: 90%;
}

.form__submit img {
    width: 10px;
    height: 15px;
    margin: auto 0;
}

.form__cancle {
    position: absolute;
    top: 4%;
    right: 4%;
    width: 14px;
    height: 14px;
    cursor: pointer;
}