.main-l {
    width: 75%;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    /* 삭제될코드 */
    height: 700px;;
}

.main-l-1 {
    width: 100%;
    margin-bottom: 50px;
}

.main-l-1-title {
    font-size: 30px;
    margin: 33px;
    font-weight: bold;
    color: #5D5D5D;
    /* text-decoration: solid underline #C3C2C2; */
}

.main-l-1-content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    padding: 33px 64px;
    background-color: #E7E7E8;
}

.main-l-1-card {
    width: 170px;
    height: auto;
    margin-right: 20px;
}

.main-l-1-card-img{
    width: 170px;
    height: 170px;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.main-l-1-card-inf-1{
    height: 15px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    color: black;
}

.main-l-2 {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.main-l-2-title {
    font-weight: bold;
    font-size: 20px;
    color: gray;
}

.main-l-2-card {
    width: 220px;
    height: auto;
    margin-right: 20px;
}

.main-l-2-card-img{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

.main-l-2-card-inf-1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    color: black;
}

.main-l-3 {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.main-l-3-title {
    font-weight: bold;
    font-size: 20px;
    color: gray;
}

.main-l-3-card {
    width: auto;
    height: auto;
    margin-right: 20px;
}

.main-l-3-card-img{
    width: 140px;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
}

.main-l-3-card-img-part {
    width: 50%;
    height:50%;
    background-size: cover;
    background-position: center center;
}

.main-l-3-card-inf-1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    color: black;
}

.main-r {
    width: 25%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.main-r-1 {
    width: 90%;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-r-1-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    background-size: cover;
    background-position: center center;
    margin-left: 10%;
    z-index: 2;
}

.main-r-1-profile {
    width: 100%;
    height: 94px;
    background: linear-gradient(#FEDDA8, orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 20px;
    z-index: 1;
}

.main-r-1-profile > div {
    position: absolute;
    top: 76%;
    left: 12%;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.main-r-1-content-bg {
    position: relative;
    top: 12%;
}

.main-r-1-team {
    width: 100%;
    height: auto;
    background-color: white;
}

.main-r-1-team-head {
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-left: 3%;
    display: flex;
    margin-bottom: 5px;
}

.main-r-1-team-head > div {
    width: 32.7px;
    height: 21.25px;
    background-size: cover;
    background-position: center center;
    margin-right: 6px;
}

.main-r-1-team-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.main-r-1-team-card {
    width: 20%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-r-1-team-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.main-r-1-project {
    width: 100%;
    height: auto;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
}

.main-r-1-project-head {
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-left: 3%;
    display: flex;
    margin-bottom: 5px;
}

.main-r-1-project-head > div {
    width: 32.7px;
    height: 21.25px;
    background-size: cover;
    background-position: center center;
    margin-right: 6px;
}

.main-r-1-project-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.main-r-1-project-card {
    width: 20%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-r-1-project-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}
