{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=f"https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/intro/intro.css' %}">
    <script src="{% static 'js/intro/intro.js' %}" type="text/javascript" defer></script>
    <title>
        Welcome to ChocoMusic
    </title>
</head>

<body>
    <section style="background-image: url({% static 'img/background@2x.png' %})" class="section__login">
        <header class="login__header">
            <a href="#" class="header__logo"><img src="{% static 'img/logo title@2x.png' %}" class="logo__img"></a>
            <nav class="login__nav">
                <ul class="nav__menu">
                    {% if not user.is_authenticated %}
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
                    {% else %}
                    <li><a href="{% url 'users:logout' %}">Log out</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <article class="login__article">
            <h1 class="article__title">You Can Be a Musicain</h1>
            <p class="article__subtitle"><span>초코뮤직</span>과 함께 수 많은 뮤지션들을 찾아보세요.</p>
            {% if not user.is_authenticated %}
            <button class="article__btn">Go to Sign up</button>
            {% endif %}
        </article>
        <article class="login__form">
            <img src="{% static 'img/logo-w@2x.png' %}" class="form__img"></img>
            <button class="form__kakao form__btn"><img src="{% static 'img/menu-img/kakaologo@2x.png' %}" class="kakao__img"><span>카카오톡 계정으로 로그인</span></button>
            <button class="form__google form__btn"><img src="{% static 'img/menu-img/googlelogo2.png' %}" class="google__img"><span>구글 계정으로 로그인</span></button>
            <div class="form__boundary"><div></div><span>or</span><div></div></div>
            <form method="POST" enctype="multipart/form-data" class="form__post">
                {% csrf_token %}
                <input type="text" name="email" class="form__email form__btn" placeholder="이메일 주소를 입력하세요.">
                <button class="form__submit form__btn"><span>이메일 계정으로 로그인</span><img src="{% static 'img/menu-img/arrow@2x.png' %}" class="submit__img"></button>
            </form>
            <img src="{% static 'img/menu-img/cancle@2x.png' %}" class="form__cancle">
        </article>
    </section>
    <main>
        <section class="info">
            <article class="info__article info__bandin">
                <h2>초코 뮤직의 <span>Band In</span></h2>
                <p>같은 지역에서 활동하는 뮤지션 혹은<br>여러분에게 알맞는 뮤지션을 찾아드립니다.</p>
            </article>
            <article class="info__article info__upload">
                <h2>당신의 음악을 업로드 하세요.</h2>
                <p>다른 뮤지션들은 당신의 음악을 들으며<br>당신과의 협업을 기다리고 있습니다.</p>
            </article>
        </section>
    </main>
    <footer class="container footer">
        {% include 'partials/footer.html' %}
    </footer>
    {% comment %} <script src="{% static 'js/intro/sign-up.js' %}" type="text/javascript"></script> {% endcomment %}
</body>

</html>


{% comment %} <div style="background-image: url({% static 'img/background@2x.png' %})" class="bg-intro">
        <div class="topline"></div>
        <div class="container icontainer">
            <div class="nav-container">
                <div class="inav">
                    <div class="nav-logo inav-logo">
                        <a href="{% url 'core:intro' %}">
                            <img src="{% static 'img/logo title@2x.png' %}">
                        </a>
                    </div>
                    <ul class="nav-menu inav-menu">
                        <div class="nav-menu-1">
                        </div>
                        {% block search_bar %}
                        <div class="nav-searchbar">
                        </div>
                        {% endblock search_bar %}
                        <div class="nav-menu-2 inav-menu-2">
                            <div><a href="#" class="nav-menu-2-el">Sign up</a></div>
                            <div><a href="#" class="nav-menu-2-el">Log in</a></div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="title">
                <h1 class="title-1">You Can Be a Musician.</h1>
                <h5 class="title-2"><span>초코뮤직</span>과 함께 수많은 뮤지션들을 찾아보세요.</h5>
            </div>
            <div class="btn">
            <span id="sign-up" class="display-clip">Go to sign up</sapn>
            </div>

            <div class="login-panel no-display-flex">
                <div style="background-image: url({% static 'img/logo-w@2x.png' %})" class="login-panel-logo"></div>
                <div class="login-panel-btn" id="kakao-btn"><div style="background-image:url({% static 'img/menu-img/kakaologo@2x.png' %})" class="login-panel-img"></div><div class="login-panel-str">카카오톡 계정으로 로그인</div></div>
                <div class="login-panel-btn" id="google-btn"><div style="background-image:url({% static 'img/menu-img/googlelogo2.png' %})" class="login-panel-img"></div><div class="login-panel-str">구글 계정으로 로그인</div></div>
                <div id="login-line"><div></div><span>or</span><div></div></div>
                <div class="login-panel-btn"><input id="login-panel-input" placeholder="이메일 주소를 입력하세요."></div>
                <div class="login-panel-btn" id="email-btn"><span id="email-str">이메일 계정으로 로그인</span></div>
            </div>
        </div>
    </div>
    <div class="icontent">
        <div class="icontent-1">
            <div class="icontent-1-title">초코 뮤직의 <span>Band In</sapn></div>
            <div class="icontent-1-sub">같은 지역에서 활동하는 뮤지션 혹은<br>
            여러분에게 맞는 뮤지션을 찾아드립니다.</div>
        </div>
        <div class="icontent-2">
            <div class="icontent-2-title">당신의 음악을 업로드 하세요.</div>
            <div class="icontent-2-sub">다른 뮤지션들은 당신의 음악을 들으며<br>
            당신과의 협업을 기다리고 있습니다.</div>
        </div>
    </div>

    {% block main %}
    <main class="container">
    </main>
    {% endblock main %} {% endcomment %}