{% extends 'users/fst_edit_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/core/base.css' %}">
<link rel="stylesheet" href="{% static 'css/fst-edit/fst_edit.css' %}">
{% endblock css %}
{% block js %}
<script src="{% static 'js/fst-edit/fst-edit.js' %}" type="text/javascript" defer></script>
{% endblock js %}
{% block content %}
<section style="background-image: url({% static 'img/background-image/audience.png' %})" class="profile-form">
    <div class="profile-form__bg-img-dark"></div>
    <article class="edit-panel">
        <div class="edit-panel__cancel">
            <img src="{% static 'img/menu-img/cancle@2x.png' %}"></img>
        </div>
        <h1 class="edit-panel__title">프로필을 설정하세요</h1>
        <form method="POST" enctype="multipart/form-data" class="edit-panel__form">
            {% csrf_token %}
            <div class="form__avatar">
                <img src="{% static 'img/menu-img/camera@2x.png' %}" class="avatar__img" title="Profile photo" alt="User avatar of profile"></img>
            </div>
            <h2 class="form__title">프로필 사진을 선택해주세요</h2>
            {{ form.alias }}
            <button class="form__btn"><span>1 of 4</span><img src="{% static 'img/menu-img/arrow.png' %}"></img></button>
            {{ form.avatar }}
            {{ form.is_first.as_hidden }}
        </form>
    </article>
</section>
{% endblock content %}