{% extends 'users/fst_edit_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/core/base.css' %}">
<link rel="stylesheet" href="{% static 'css/intro/fst_edit.css' %}">
<link rel="stylesheet" href="{% static 'css/intro/fst_edit_region.css' %}">
{% endblock css %}

{% block content %}
<div style="background-image: url({% static 'img/background-image/bass-guitar@2x.png' %})" class="bg-img">
    <div class="bg-img-dark"></div>
    <div class="fst-edit-panel" id="region-panel">
        <div class="fst-cancel-panel">
            <div style="background-image: url({% static 'img/menu-img/cancle@2x.png' %})" id="fst-cancel"></div>
        </div>
        <div class="fst-title"><span>활동지역을 추가하세요</span></div>
        <div class="fst-partition-horizontal"></div>
        <div id="fst-region">
            <div id="fst-city">
                {% for city in cities %}
                    <div>{{city|slice:":2"}}<span class="fst-hidden">{{city}}</span></div>
                {% endfor %}
            </div>
            <div class="fst-partition-vertical"></div>
            <div id="fst-borough">
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data" class="fst-form">
            {% csrf_token %}
            {{ form.borough }}
            <button class="fst-btn"><span>2 of 5</span><div style="background-image: url({% static 'img/menu-img/arrow.png' %})"><div></button>
        </form>
    </div>
    <div class="fst-hidden" id="fst-region-dict">
        {{region}}
    </div>
</div>
<div class="topline fst-topline"></div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/fst-edit/fst-edit-region.js' %}" type="text/javascript">const region = {{region|safe}}</script>
{% endblock js %}