{% extends 'base.html' %}

{% block page_title %}
{{ user.alias }}님 환영 합니다.
{% endblock page_title %}

{% block main %}
<div class="main-l">
    <div class="main-l-1">
        <p class="banner-promotion">배너 / 프로모션 페이지</p>
    </div>
    <div>
        <p class="main-l-2-title">최신앨범</p>
        <div class="main-l-2">
            {% for song in p_songs %}
            <div class="main-l-2-card">
                <a href="#">
                    <div style="background-image: url({{song.project.jacket_photo}})" class="main-l-2-card-img"></div>
                    <div class="main-l-2-card-inf-1">
                        <span>{{song.base_song.title}}</span>
                    </div>
                    <div>
                        <span>{{song.project.team.name}} / {{song.project}}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <p class="main-l-3-title">인기 플레이 리스트</p>
        <div class="main-l-3">
            {% for category, genre in playlists.items %}
            <div class="main-l-3-card">
                <a href="#">
                    <div class="main-l-3-card-img">
                        {% for playlist in genre %}
                            <div style="background-image: url({{playlist.first_song_photo.url}})" class="main-l-3-card-img-part"></div>
                        {% endfor %}
                    </div>
                    <div class="main-l-3-card-inf-1">
                        <span>{{category}}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="main-r">
    <div class="main-r-1">
        <div class="main-r-1-btn1"><span>차트</span></div>
        <div class="main-r-1-btn2"><span>실시간 피드</span></div>
        <div class="main-r-1-contents"></div>
    </div>
    <div class="main-r-2">
        <div class="main-r-2-btn1"><span>패 프로젝트</span></div>
        <div class="main-r-2-btn2"><span>내 팀</span></div>
        <div class="main-r-2-contents"></div>
    </div>
    <div class="main-r-3">
        <div class="main-r-3-btn1"><span>팔로잉</span></div>
        <div class="main-r-3-btn2"><span>뮤지션 추천</span></div>
        <div class="main-r-3-contents"></div>
    </div>
</div>
{% endblock %}