.content__check {
    width: 932px;
    height: 100%;
    margin-left: 4%;
    background-color: #E8E8E8;
    border-radius: 20px;
    padding-left: 180px;
    padding-top: 20px;
    display: none;
}

.content__check.active {
    display: flex;
    flex-direction: column;
}


.check__element.photo {
    padding: 0;
    width: 24%;
    height: 220.281px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.check__element.photo:hover {
    background-color: #F7F7F7;
    font-weight: 700;
}

.check__img {
    width: 30px;
    height: 30px;
}

.check__element {
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding-top: 8px;
    padding-left: 10px;
}

.check__element.title {
    width: 55%;
}

.check__element.genre {
    width: 30%;
}

.check__element.project {
    width: 30%;
}

.check__label {
    font-size: 19px;
    font-weight: 700;
    margin-top: 25px;
}

#type-panel {
    height: 600px;
}

#id_exposure_level {
    padding-left: 0px;
    display: flex;
}

#id_exposure_level > li {
    margin-right: 8px;
}

.check__button {
    margin-left: 80%;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.check__button:hover {
    background-color: #FF990E;
}

.check__radio {
    display: flex;
    margin-top: 15px;
}

.check__radio input {
    margin: 0;
}

.check__radio label {
    margin-right: 15px;
}

.check-bg {
    background-size: cover;
    background-position: center, center;
}

.img--added {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
