#info-form {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 40px;
}

#info-bg {
    width: 80%;
    height: 480px;
}

#left-info {
    width: 44%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content-photo {
    width: 59%;
    height: 247.281px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    cursor: pointer;
}

.check-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
}

#content-photo:hover {
    background-color: #F7F7F7;
    font-weight: 700;
}

#content-photo-img {
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}

#content-photo-label {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
}

.content-info-label {
    font-size: 19px;
    font-weight: 700;
}

/* #id_genre {
    width: 65%;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    -moz-appearance:none;  Firefox   
    -webkit-appearance:none;  Safari and Chrome   
    appearance:none; 
    background: 
} */

/* #genre-select::-ms-expand { 
    display:none; 
}  */

.content-info-select {
    width: 59%;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}


#right-info {
    width: 56%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

#id_content_title {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 12px;
    padding-left: 10px;
}

#content-teamProject {
    display: flex;
    margin-bottom: 60px;
    width: 100%;
}

#content-team {
    width: 48%;
}

#id_content_team {
    width: 100%;
    margin-top: 8px;
    padding-left: 10px;
}

#id_description {
    width: 100%;
    height: 170px;
    padding: 15px;
}

#content-project {
    margin-left: 4%;
    width: 48%;
}

#id_project {
    width: 100%;
    margin-top: 8px;
    padding-left: 10px;
}

#id_genre {
    padding-left: 10px;
}